﻿@model hotel_management_mvc.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="edit-header">
    <h4>Staff</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary m-1">Back to Staff List</a>
    </div>
</div>
<hr />
<div class="edit-container">
    <div class="edit-container-image">
        <img src="https://cdn-icons-png.flaticon.com/512/484/484568.png" alt="...">
    </div>
    <div class="edit-container-body">
        <form asp-action="Edit" class="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="2">Staff</option>
                    <option value="1">Admin</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatus" class="control-label"></label>
                <select asp-for="AccountStatus" class="form-control">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <span asp-validation-for="AccountStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 save-button">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
