﻿@model IEnumerable<hotel_management_mvc.Models.User>

@{
    ViewData["Title"] = "Staff - Hotel Management";
}

<div class="page-header">
    <h1><strong>Staff List</strong></h1>
</div>
<div class="page-title">
    <div class="page-title-search">
        <form asp-controller="Staffs" asp-action="Index">
            <p>
                Search: <input type="text" name="SearchString" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
    <p class="page-title-button">
        <a asp-action="Create" class="btn btn-primary m-1" style="width: 100%;">Add new Staff</a>
    </p>
</div>
<div class="list-container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card p-2 m-2" style="min-width: 20rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/484/484568.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Full Name: @item.FullName</h5>
                        <p class="card-text mt-2">User Name: @item.UserName</p>
                        <p class="card-text">Phone: @item.Phone</p>
                        <p class="card-text">Address: @item.Address</p>
                        <div class="card-text d-flex justify-content-start">
                            <div class="me-3">
                                Role:
                            </div>
                            <div>
                                @{
                                    if (@item.Role == Role.Admin)
                                    {
                                        <span class="badge text-bg-success">@item.Role</span>
                                    }
                                    else
                                    {
                                        <span>@item.Role</span>
                                    }
                                }
                            </div>
                        </div>
                        <p class="card-text">Position: @item.Position</p>
                        <div class="card-text d-flex justify-content-start">
                            <div class="me-3">
                                Account Status:
                            </div>
                            <div>
                                @{
                                    if (@item.AccountStatus == AccountStatus.Active)
                                    {
                                        <span class="badge text-bg-success">@item.AccountStatus</span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-warning">@item.AccountStatus</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="list-container-action">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width: 100%;">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width: 100%">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
