﻿@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="edit-container login-form">
    <div class="edit-container-image">
        <img src="https://cdn-icons-png.flaticon.com/512/5900/5900195.png" />
    </div>
    <div class="edit-container-body login-form-body">
        <h1><strong>LOGIN</strong></h1>
        <form asp-action="Login" asp-controller="Staffs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>