﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You don't have permission to access this. !!!!</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Index">Return to Rooms</a>

