﻿@model hotel_management_mvc.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<div class="edit-header">
    <h4>Edit</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary m-1">Back to Room List</a>
    </div>
</div>
<hr />

<div class="edit-container">
    <div class="edit-container-image">
        <img src="https://cdn5.vectorstock.com/i/1000x1000/93/24/hotel-room-key-with-number-icon-graph-symbol-vector-47849324.jpg" alt="...">
    </div>
    <div class="edit-container-body">
        <form asp-action="Edit" class="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomStatus" class="control-label"></label>
                <select asp-for="RoomStatus" class="form-control">
                    <option value="1">Empty</option>
                    <option value="2">Booked</option>
                    <option value="3">UnderConstruction</option>
                </select>
                <span asp-validation-for="RoomStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 save-button">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
