﻿@model IEnumerable<hotel_management_mvc.Models.Room>

@{
    ViewData["Title"] = "Room - Hotel Management";
}

<div class="page-header">
    <h1><strong>Room List</strong></h1>
</div>
<div class="page-title">
    <div class="page-title-search">
        <form asp-controller="Rooms" asp-action="Index">
            <p>
                Search: <input type="text" name="SearchString" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
    <p class="page-title-button">
        <a asp-action="Create" class="btn btn-primary m-1" style="width: 100%;">Add new Room</a>
    </p>
</div>
<div class="list-container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card p-2 m-2" style="min-width: 20rem;">
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/93/24/hotel-room-key-with-number-icon-graph-symbol-vector-47849324.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room No: @item.Code</h5>
                        <p class="card-text mt-2">Price: @item.Price</p>
                        <p class="card-text">Services: @item.Services</p>
                        <div class="card-text d-flex justify-content-start">
                            <div class="me-3">
                                Room Status:
                            </div>
                            <div>
                                @{
                                    if (@item.RoomStatus == RoomStatus.Empty)
                                    {
                                        <span class="badge text-bg-success">@item.RoomStatus</span>
                                    }
                                    else if (@item.RoomStatus == RoomStatus.Booked)
                                    {
                                        <span class="badge text-bg-secondary">@item.RoomStatus</span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-warning">@item.RoomStatus</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="list-container-action">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width: 100%;">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width: 100%">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
