html {
    font-size: 14px;
}

@media (max-width: 1235px) {
    html {
        font-size: 16px;
    }

    .list-container .row {
        display: flex;
        flex-direction: column !important;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Tahoma !important;
    font-weight: 500 !important
}

.list-container {
    display: flex;
    justify-content: space-around;
}

.page-title {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.page-title-search {
    margin-right: 20px;
}

.list-container-action {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.page-header {
    display: flex;
    justify-items: center;
}

.edit-container {
    padding-top: 30px;
    display: flex;
    gap: 16px;
}

.edit-container-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-container img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

.edit-container-body {
    display: flex;
    justify-content: start;
    width: 100%;
}

    .edit-container-body .row {
    }

    .edit-container-body .form-group {
    }

.edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form {
    width: 100%;
}

    .edit-form .form-group {
        display: flex;
        padding-bottom: 10px;
        gap: 10px
    }

        .edit-form .form-group .control-label {
            display: flex;
            min-width: 100px;
            align-items: center;
            font-weight: 600;
        }

.save-button {
    justify-content: end;
}

.login-form {
    margin-top: 120px;
}

.login-form-body {
    display: block;
    gap: 30px;
}
