﻿@model hotel_management_mvc.Models.Transaction

@{
    ViewData["Title"] = "Details";
}
@{
    var rooms = (List<RoomTransaction>)TempData["AvailableRooms"] != null ? (List<RoomTransaction>)TempData["AvailableRooms"] : new List<RoomTransaction>();
}

<div>
    <div class="edit-header">
        <h4>Transaction Details</h4>
        <div>
            <a asp-action="Index" class="btn btn-primary m-1">Back to Transaction List</a>
        </div>
    </div>
    <hr />

    <div class="pt-3 d-flex gap-5 justify-content-start">
        <div>
            <table class="table">
                <tbody>
                    @foreach (var room in rooms)
                    {
                        <tr>
                            <th>Room Code</th>
                            <td>@room.Room.Code</td>
                        </tr>
                    }
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Total)</th>
                        <td>@Html.DisplayFor(model => model.Total)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TransactionTime)</th>
                        <td>@Html.DisplayFor(model => model.TransactionTime)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.IsPaid)</th>
                        <td>@Html.DisplayFor(model => model.IsPaid)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Note)</th>
                        <td>@Html.DisplayFor(model => model.Note)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                        <td>@Html.DisplayFor(model => model.CustomerName)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Booking ID</th>
                        <td>@Html.DisplayFor(model => model.Booking.Id)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.Checkin)</th>
                        <td>@Html.DisplayFor(model => model.Booking.Checkin)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.Checkout)</th>
                        <td>@Html.DisplayFor(model => model.Booking.Checkout)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.BookingStatus)</th>
                        <td>@Html.DisplayFor(model => model.Booking.BookingStatus)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.Note)</th>
                        <td>@Html.DisplayFor(model => model.Booking.Note)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.CustomerPhone)</th>
                        <td>@Html.DisplayFor(model => model.Booking.CustomerPhone)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Booking.PayMethod)</th>
                        <td>@Html.DisplayFor(model => model.Booking.PayMethod)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary m-1">Edit</a>
</div>
