﻿@model hotel_management_mvc.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}
@{
    var rooms = (List<RoomTransaction>)TempData["AvailableRooms"] != null ? (List<RoomTransaction>)TempData["AvailableRooms"] : new List<RoomTransaction>();
}

<div class="edit-header">
    <h4>Transaction</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary m-1">Back to Transaction List</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @{
                foreach (var room in rooms)
                {
                    <div class="d-flex justify-content-start align-items-center">
                        <strong>Room Code: @room.Room.Code</strong>
                    </div>
                }
            }
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionTime" class="control-label"></label>
                <input asp-for="TransactionTime" class="form-control" readonly/>
                <span asp-validation-for="TransactionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPaid" class="control-label"></label>
                <select asp-for="IsPaid" class="form-control">
                    <option value="1">Paid</option>
                    <option value="2">Unpaid</option>
                </select>
                <span asp-validation-for="IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" readonly/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingId" class="control-label"></label>
                <input asp-for="BookingId" class="form-control" readonly />
                <span asp-validation-for="BookingId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
