﻿@model IEnumerable<hotel_management_mvc.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
}

<div class="page-header">
    <h1><strong>Transaction List</strong></h1>
</div>
<div class="page-title">
    <div class="page-title-search">
        <form asp-controller="Transactions" asp-action="Index">
            <p>
                Search: <input type="text" name="SearchString" />
                <input type="submit" value="Search" />
            </p>
        </form>
        <p>
            Start Date: <input type="datetime-local" id="startDate" />
            End Time: <input type="datetime-local" id="endTime" />
            <input type="button" id="getIncomeBtn" value="Get Income" />
        </p>
        <strong>Total: <span id="income"></span> - vnd</strong>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Total
            </th>
            <th>
                Transaction Time
            </th>
            <th>
                Transaction Status
            </th>
            <th>
                Note
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Booking Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTime)
                </td>
                <td>
                    @{
                        if (@item.IsPaid == BookingStatus.Paid)
                        {
                            <span class="badge text-bg-success">@item.IsPaid</span>
                        }
                        else
                        {
                            <span class="badge text-bg-warning">@item.IsPaid</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#getIncomeBtn').on('click', function () {
        var startDate = $('#startDate').val();
        var endTime = $('#endTime').val();

        $.ajax({
            url: '@Url.Action("GetIncome", "Transactions")',
            type: "GET",
            data: {
                startDate: startDate,
                endTime: endTime
            },
            success: function (response) {
                $('#income').text(response);
            },
            error: function (response) {
                // Handle error here
            }
        });
    });
</script>