﻿@model hotel_management_mvc.Models.Booking

@{
    ViewData["Title"] = "Create";
}
@{
    var rooms = (List<Room>)TempData["AvailableRooms"] != null ? (List<Room>)TempData["AvailableRooms"] : new List<Room>();
    var room = (Room)TempData["SelectedRoom"];
}

<div class="edit-header">
    <h4>Create Booking</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary m-1">Back to Bookings List</a>
    </div>
</div>
<hr />
<div class="d-flex gap-5">
    <div class="row w-100">
        <div class="col-md-4 w-100">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Selected Room</label>
                    <select class="form-control" name="selectedRoom" id="selectedRoomDropdown">
                        <option value="0">Select room ...</option>
                        @{
                            foreach (var item in rooms)
                            {
                                <option value="@item.Id">Code: @item.Code</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Checkin" class="control-label"></label>
                    <input asp-for="Checkin" class="form-control" />
                    <span asp-validation-for="Checkin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Checkout" class="control-label"></label>
                    <input asp-for="Checkout" class="form-control" />
                    <span asp-validation-for="Checkout" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookingStatus" class="control-label"></label>
                    <select asp-for="BookingStatus" class="form-control">
                        <option value="1">Paid</option>
                        <option value="2">Unpaid</option>
                    </select>
                    <span asp-validation-for="PayMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerPhone" class="control-label"></label>
                    <input asp-for="CustomerPhone" class="form-control" />
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayMethod" class="control-label"></label>
                    <select asp-for="PayMethod" class="form-control">
                        <option value="1">Cash</option>
                        <option value="2">Card</option>
                    </select>
                    <span asp-validation-for="PayMethod" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="w-100">
        <table class="table">
            <tbody>
                <tr>
                    <th>Room ID</th>
                    <td id="roomId"></td>
                </tr>
                <tr>
                    <th>Room Code</th>
                    <td id="roomCode"></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td id="roomPrice"></td>
                </tr>
                <tr>
                    <th>Services</th>
                    <td id="roomServices"></td>
                </tr>
                <tr>
                    <th>Room Status</th>
                    <td id="roomStatus"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var url = '@Url.Action("GetRoomDetails", "Bookings")';
    $('#selectedRoomDropdown').on('change', function () {
        var value = $('select#selectedRoomDropdown').val()
        if (value) {
            $.ajax({
                url: '@Url.Action("GetRoomDetails", "Bookings")',
                type: "GET",
                data: { selectedRoom: value },
                success: function (response) {
                    $('#roomId').text(response.id);
                    $('#roomCode').text(response.code);
                    $('#roomPrice').text(response.price);
                    $('#roomServices').text(response.services);
                    $('#roomStatus').text(response.roomStatus);
                },
                error: function (response) {
                }
            });
        }
    });
</script>