﻿@model hotel_management_mvc.Models.Booking

@{
    ViewData["Title"] = "Details";
}
@{
    var rooms = (List<RoomBooking>)TempData["AvailableRooms"] != null ? (List<RoomBooking>)TempData["AvailableRooms"] : new List<RoomBooking>();
}

<div>
    <div class="edit-header">
        <h4>Booking Details</h4>
        <div>
            <a asp-action="Index" class="btn btn-primary m-1">Back to Bookings List</a>
        </div>
    </div>
    <hr />
    <div>
        <table class="table">
            <tbody>
                @{
                    foreach (var room in rooms)
                    {
                        <tr>
                            <th>Room Code</th>
                            <td>@room.Room.Code</td>
                        </tr>
                    }
                }   
                <tr>
                    <th>Booking ID</th>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Checkin)</th>
                    <td>@Html.DisplayFor(model => model.Checkin)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Checkout)</th>
                    <td>@Html.DisplayFor(model => model.Checkout)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BookingStatus)</th>
                    <td>@Html.DisplayFor(model => model.BookingStatus)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Note)</th>
                    <td>@Html.DisplayFor(model => model.Note)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CustomerPhone)</th>
                    <td>@Html.DisplayFor(model => model.CustomerPhone)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PayMethod)</th>
                    <td>@Html.DisplayFor(model => model.PayMethod)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary m-1">Edit</a>
</div>
