﻿@model hotel_management_mvc.Models.Booking

@{
    ViewData["Title"] = "Edit";
}
@{
    var rooms = (List<RoomBooking>)TempData["AvailableRooms"] != null ? (List<RoomBooking>)TempData["AvailableRooms"] : new List<RoomBooking>();
}

<div class="edit-header">
    <h4>Edit Booking</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary m-1">Back to Bookings List</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label"></label>
                @{
                    foreach (var item in rooms)
                    {
                        <input value="@item.Room.Code" class="form-control" readonly/>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="Checkin" class="control-label"></label>
                <input asp-for="Checkin" class="form-control" />
                <span asp-validation-for="Checkin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkout" class="control-label"></label>
                <input asp-for="Checkout" class="form-control" />
                <span asp-validation-for="Checkout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <select asp-for="BookingStatus" class="form-control">
                    <option value="1">Paid</option>
                    <option value="2">Unpaid</option>
                </select>
                <span asp-validation-for="PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMethod" class="control-label"></label>
                <select asp-for="PayMethod" class="form-control">
                    <option value="1">Cash</option>
                    <option value="2">Card</option>
                </select>
                <span asp-validation-for="PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
