﻿@model IEnumerable<hotel_management_mvc.Models.Booking>

@{
    ViewData["Title"] = "Booking - Hotel Management";
}

<div class="page-header">
    <h1><strong>Booking List</strong></h1>
</div>
<div class="page-title">
    <div class="page-title-search">
        <form asp-controller="Bookings" asp-action="Index">
            <p>
                Search: <input type="text" name="SearchString" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
    <p class="page-title-button">
        <a asp-action="Create" class="btn btn-primary m-1" style="width: 100%;">Add new Booking</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Checkin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th>
                Booking Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Customer Phone
            </th>
            <th>
                Pay Method
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Checkin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkout)
            </td>
                <td>
                    @{
                        if (@item.BookingStatus == BookingStatus.Paid)
                        {
                            <span class="badge text-bg-success">@item.BookingStatus</span>
                        }
                        else
                        {
                            <span class ="badge text-bg-warning">@item.BookingStatus</span>
                        }
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
